@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --bg-black: rgba(0,0,0,0.7);
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #252f35;
}

nav{
   background: #0082e6;
   height: 80px;
   width: 100%; 
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    font-weight: 100;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;  
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }  
}

section{
    width: 100%;
    height: 100vh;
    background-image:url(img/image-ninho.png);
    background-position: center;
    background-size: cover;
}

h1{
    color: white;
    font-size: 70px;
}
p {
    color: white;
    font-size: 20px;
    
}

.container{
    position:relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/image-ninho.png);
    background-position: center;
    background-size: cover;
}

.row{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 5%;
}
.col1{
    width : 40%;
}
.col1 p{
    text-align: justify;
}
.col2{
    width: 30rem;
}

.bioImg{
    width: 12.5rem;
    height:15rem;
    cursor: pointer;
    transition:0.5s;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
    
}

.cardBio{
    display:inline-block;
    margin: 0 0 2rem 2rem;
    position: relative;
}

.card:hover{
    transform: translateY(-10px);

}

h5{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #999;
    
}



.rom{
    display:grid;
}
.emballage{
    margin: 150px ;
    width: 70%;
}
.album{
    max-width: 100px;
    float: left;
    border:3px solid black;
    border-radius: 10px;
    margin-bottom:  25px;
    margin-left: 15px;
    margin-right: 15px;
}
.text-box{
    color: #fff;
    margin-bottom: 25px;
}
.text-box h2{
    font-size:25px;
    margin-bottom: 3px;
}
.text-box p{
    font-size: 16px;
    margin-right: 15px;
    text-align: justify;
}

h1{
    margin: 20px;
}


video{
  
    max-width: 1150px;
    border:5px solid white;
    border-radius: 10px;
    margin: 40px;
}
h3{
    color: #fff;
    font-size: 50px;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.75rem;
}

.abc{
    display:block;
}
.abc p{
    margin-left: 15px;
    text-align: justify;
}

.contenu1{
    display: flex;
}
.cont1{
    flex-basis: 75%;
}
.cont2{
    flex-basis: 25%;
    max-width: 200px;
}
.deuxcents{
    max-width: 11.5rem;
    border-radius: 10px;
    border:3px solid black;
    margin-left: 3rem;
}

.memorycarte{
    width:9rem;
    height: 9rem;
    /* display: inline-block;
    transition:0.5s;
    margin: 0 2rem 2rem 0; */

}

#cards{
    margin:auto;
    width:45rem;
    padding-top:3rem;
}

#cards:hover{
    cursor:pointer;
}

#win{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:var(--bg-black);
    z-index:1;
    justify-content:center;
    align-items:center;
}





.scene {
    width:9rem;
    height: 9rem;
    display: inline-block;
    margin: 0 2rem 2rem 0;
/*   border: 1px solid #CCC; */
  perspective: 600px;
}

.cardDiv {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.cardDiv.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
}


.card__face--back {
  transform: rotateY(180deg);
}

#replay {
    background: #0082e6;
    border-radius: 999px;
    box-shadow: #0082e6 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    transistion:  transform 1s;
}

#replay:hover {
    transform: scale(1.1);
}

.contentWin{
    position:relative;
    width:50%;
    height:50%;
    margin: 10rem auto;
    background-color:black;
    border-radius:10px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.winButtonTitle{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:6rem
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--bg-black);
  border-radius: 10px;
}

.cardBio:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.textImg {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.winButtonTitle h2{
    color:white;
}

.closeDiv{
    position:absolute;
    top:1rem;
    right:1.5rem;
    color:white;
    width:1rem;
    cursor:pointer;
}

#chrono{
    position:absolute;
    top:3rem;
    left:5rem;
    color:white;
    width:9rem;
    cursor:pointer;
    font-size:1.5rem;
}


.menuImg{
    width:2rem;
    height:2rem;

}

.ninhoLogo{
    height:4rem;
    width:auto;
    margin-top:0.5rem;
}